[submodule "configs/guix"]
	path = configs/guix
	url = https://github.com/ghgsrt/guix
[submodule "configs/nix"]
	path = configs/nix
	url = https://github.com/ghgsrt/nix
[submodule "dotfiles/dotfiles"]
	path = dotfiles/dotfiles
	url = https://github.com/ghgsrt/dots
